{% extends 'myapp/base.html' %}

{% block body %}
<div class="jumbotron jumbotron-billboard" style=" background:transparent; background-image:none;border-color:transparent; box-shadow:none; ">
  <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" >
                <h2>Hii Welcome to you  <strong>{{ user.first_name }}</strong></h2>

                {% if user.is_not_authenticated %}
              
                <p>
                    If You New To My Side Please Sign up
                </p>
              
                <a href="/regis" class="btn btn-primary btn-lg">Sign Up</a>
                {%endif%}
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
